.vscode/
.idea/
coverage/
nginx/
node_modules/
test/
.editorconfig
.env
.env.local
.eslintrc.json
.prettierrc.json
artillery.yml
docker-compose.yml
Dockerfile
jest.config.ts
nodemon.json
README.md
npm-debug.log